
@{
    ViewData["Title"] = "CompanyEmployeeDetails";
}

<h1>CompanyEmployeeDetails</h1>

@model IKProject_2512.Models.Employee

<style>
    .form {
        background: rgba(255,255,255,0.9);
        padding: 40px;
        max-width: 600px;
        margin: 40px auto;
        border-radius: 10px;
        box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
    }

    h2 {
        text-align: center;
        text-shadow: 0 0 20px 2px rgba(0,0,0,0.9);
        color: deepskyblue;
        font-weight: 800;
        margin: 0 0 30px;
    }

    dt, dd {
        color: black;
        text-align: left;
    }
</style>

<div class="form">
    <h2>Yönetici Detay Sayfası</h2>

    <dl class="row">
        @*<dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.PhotoPath)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.PhotoPath)
            </dd>*@
        <dd class="col-sm-12">
            <img src="@("~/ImageFile/"+Model.PhotoPath)" asp-append-version="true" width="100" />
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EmployeeMiddleName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EmployeeMiddleName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EmployeeLastName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EmployeeLastName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.MailAddress)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MailAddress)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>
    </dl>
    <div>
        @*<a asp-area="CoMgr" asp-controller="Home" asp-action="EditCoMGr" asp-route-id="@Model.EmployeeID" class="btn btn-dark">Güncelle</a> |*@
        <a asp-area="Platform" asp-controller="Company" asp-action="CoMgrList" class="btn btn-info">Geri Dön</a>
    </div>

</div>
