@model IEnumerable<IKProject_2512.Models.Company>

@{
    ViewData["Title"] = "CompanyList";
}

<h4>Sisteme Kayıtlı Şirketler</h4>

<p>
    <a class="btn btn-info" asp-area="Platform" asp-controller="Company" asp-action="AddCompany">Yeni Şirket Ekle</a>
</p>
<table class="table table-primary table-hover table-active table-info" style="text-transform:capitalize">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommercialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.MailExtension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@("~/ImageFile/"+item.Logo)" asp-append-version="true" width="200" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommercialName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td style="text-transform:lowercase">
                @Html.DisplayFor(modelItem => item.MailExtension)
            </td>
            <td style="text-transform:lowercase">
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a class="btn btn-dark" asp-action="EditCompany" asp-route-id="@item.CompanyID">Güncelle</a> 
                <a class="btn btn-info" asp-action="CompanyDetails" asp-route-id="@item.CompanyID">Detayları Gör</a>

            </td>
        </tr>
}
    </tbody>
</table>
