@model IKProject_2512.Areas.Platform.Models.CompanyEmployeeModel

@{
    ViewData["Title"] = "CompanyDetails";
}
<style>
    .form {
        background: rgba(255,255,255,0.9);
        padding: 40px;
        max-width: 600px;
        margin: 40px auto;
        border-radius: 10px;
        box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
    }

    h2 {
        text-align: center;
        text-shadow: 0 0 20px 2px rgba(0,0,0,0.9);
        color: deepskyblue;
        font-weight: 800;
        margin: 0 0 30px;
    }

    dt, dd {
        color: black;
        text-align: left;
    }
</style>


<div class="form">
    <h2>Şirket Detayları</h2>

    <dl class="row">

        <dd class="col-sm-12">
            <img src="@("~/ImageFile/"+Model.PhotoPath)" asp-append-version="true" width="100" />
        </dd>

        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.CommercialName)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.CommercialName)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.MailExtension)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.MailExtension)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.MainCompanyName)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.MainCompanyName)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.EmployeeMiddleName)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.EmployeeMiddleName)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.EmployeeLastName)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.EmployeeLastName)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.PackageName)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.PackageName)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.PackagePeriod)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.PackagePeriod)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.PackageStartDate)
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.PackageStartDate)
        </dd>
    </dl>
    <div>
        <a class="btn btn-dark" asp-area="Platform" asp-controller="Company" asp-action="EditCompany" asp-route-id="@Model.CompanyID">Güncelle</a>
        <a class="btn btn-info" asp-area="Platform" asp-controller="Company" asp-action="CompanyList">Geri Dön</a>
    </div>
</div>