@model IKProject_2512.Models.Employee

@{
    ViewData["Title"] = "Delete";
}
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeMiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeMiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>

    <form asp-action="DeleteCoMGr" asp-route-id="@Model.EmployeeID">
        <input type="submit" value="Onayla" class="btn btn-info" />
        <a class="btn btn-danger" asp-action="CoMgrList">Geri Dön</a>
    </form>
</div>

